:root {
    --shadow: #222;
    --gray: #3f4242;
    --blue: #005DD5;
}

.icon-remove, .icon-check {
    display: none;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    -webkit-filter: drop-shadow(3px 3px 3px var(--shadow));
    filter: drop-shadow(3px 3px 3px var(--shadow));
}

span {
    color: var(--blue);
}

span[data-tool-tip] {
    position: relative;
}
  
span[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: var(--gray);
    padding: 1em 3em;
    color: white;
    border-radius: 5px;
    font-size: .5em;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    transform: scale(0);
    transition:
      transform ease-out 150ms,
      bottom ease-out 150ms;
}
  
span[data-tool-tip]:hover::after {
    transform: scale(1);
    bottom: 100%;
}